<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <!-- Container -->
    <div class="container">
        <!-- Sign-up Box -->
        <div class="sign-up">
            <div id="png">
                <a href="/" title="Home">
                    <img style="width:55px; height:55px;" src="../static/images/home-page.png" alt="Home">
                </a>
            </div>
            <!-- Form -->
            <form action="/register" method="post">
                <div class="msg">SIGN UP</div>
                <h2 class="heading">Hello, Friend</h2>
                <!-- Name Box -->
                <div class="text">
                    <img height="20px" src="../static/images/user.png" alt="User">
                    <input placeholder="Name" type="text" name="username" required>
                </div>
                <!-- Email Box -->
                <div class="text">
                    <img height="12px" src="../static/images/email.png" alt="Email">
                    <input placeholder="Example@gmail.com" type="email" name="email" required>
                </div>
                <!-- Password Box -->
                <div class="text">
                    <img height="20px" src="../static/images/password.png" alt="Password">
                    <input placeholder="Password" type="password" name="password" required>
                </div>
                <!-- Terms -->
                <div class="terms">
                    <input class="check" type="checkbox" required>
                    <p class="conditions">I read and agree to <a href="#">Terms & Conditions</a></p>
                </div>
                <!-- Button -->
                <div class="toop">
                    <button type="submit" class="btn btn-primary">CREATE ACCOUNT</button>
                </div>
            </form>
            <!-- Sign-in -->
            <div class="t">
                <p class="conditions" id="p3">Already have an account? <a href="/signin">Sign in</a></p>
            </div>
        </div>
        <!-- Text Container -->
        <div class="text-container">
            <h1 style="color: #2d2c2c; font-family: cursive;">Glad to see you</h1>
            <div class="diag">
                <img class="fig1" width="100%" height="auto" src="../static/images/Inkeddia_LI.jpg" alt="Welcome Image">
            </div>
            <div class="para"><b>Welcome</b>, Please fill in the blanks to sign up.</div>
            <div>
                <button><a href="/">Home</a></button>
            </div>
        </div>
    </div>
</body>
</html>
